[Unit]
Description={{ service.description }}
{%- if service.unit is defined %}
  {%- for option, value in service.unit.items() %}
{{ option }}={{ value }}
  {%- endfor %}
{%- endif %}

[Service]
ExecStart={{ service.executable }}
{%- if service.environment is defined %}
{%- for key, value in service.environment.items() %}
Environment={{ key }}={{ value }}
{%- endfor %}
{%- endif %}
{%- if service.options is defined %}
{%- for key, value in service.options.items() %}
{{ key }}={% if value != None %}{{ value }}{% endif %}
{%- endfor %}
{%- endif %}

[Install]
WantedBy={{ service.wanted_by }}.target
